<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="/saveDoctor" method="post">
	Enter Doctor Name : <input type="text" name="dName"><br><br>
	Enter Doctor Age : <input type="text" name="dAge"><br><br>
	Enter Doctor Gender : <select name="dGender">
	<option value="Male">Male</option>
	<option value="Female">Female</option>
	</select><br> <br>
	Enter Doctor Experience : <input type="text" name="dExperience"><br><br>
	Enter Doctor Contact Number : <input type="text" name="dContact"><br><br>
	Enter Doctor Address : <input type="text" name="dAddress"><br><br>
	Select Doctor Department  : <select name="dDepartment">
	<option value="Cardiologists">Cardiologists</option>
	<option value="Dermatologists">Dermatologists</option>
	<option value="Neurologists">Neurologists</option>
	<option value="Gastroenterologists">Gastroenterologists</option>
	</select>
	<br><br>
	<input type="submit" value="Proceed">
	
</form>
</body>
</html>