<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="/savePatient" method="post">
	Enter Patient Name : <input type="text" name="pName"><br><br>
	Enter Patient Age : <input type="text" name="pAge"><br><br>
	Enter Patient Gender : <select name="pGender">
	<option value="Male">M</option>
	<option value="Female">F</option>
	</select><br> <br>
	Enter Patient Contact Number : <input type="text" name="pContact"><br><br>
	Enter Patient Address : <input type="text" name="pAddress"><br><br>
	Enter Patient Symptoms :<input type="text" name="pSymptom"><br><br>
	<input type="submit" value="Proceed">
	
</form>
</body>
</html>