<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<a href="/viewPatient">View profile</a> <br> <br>
<a href="/viewAppointmentSlots">Show Appointment Slots</a> <br> <br>
<a href="/requestAppointment">Request Appointment   </a> <br> <br>
<a href="/rescheduleAppointment">Reschedule Appointment   </a> <br> <br>
<a href="/cancelAppointment">Cancel Appointment   </a> <br> <br>
<a href="/previousAppointment">View previous appointments   </a> <br> <br>
<a href="/viewSchedule">View Doctor,s Schedule   </a> <br> <br>
<a href="/viewAllSchedule">View all Doctors Schedule   </a> <br> <br>
</body>
</html>